.Container {
  > div {
    display: flex;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

.Container > h1 {
  font-size: 1.25rem;
  font-weight: 600;
}

.Container > .Search {
  width: 20vw;
  min-width: 300px;
}

.Container > .Table {
  flex: 1;
  overflow: auto;
}
