.Container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 800px;
  max-height: 100%;
  border: 1px solid #ced4da;
  border-radius: 4px;

  > thead,
  > tbody {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;

    > tr {
      display: flex;
      height: 3.25rem;
      border-bottom: 1px solid #ced4da;

      > th,
      > td {
        display: flex;
        align-items: center;
        padding: 0 0.5rem;

        &:first-child {
          width: 5%;
        }

        &:nth-child(2) {
          width: 5%;
        }

        &:nth-child(3) {
          flex: 1;
        }

        &:nth-child(4) {
          width: 10%;
        }

        &:nth-child(5) {
          width: 10%;
        }

        &:nth-child(6) {
          width: 20%;
        }

        &:last-child {
          width: 20%;
        }
      }

      &.season {
        > td:first-child {
          padding-left: 3%;
        }
      }

      &.episode {
        > td:first-child {
          padding-left: 6%;
        }
      }
    }
  }
}

.Container > thead {
  position: sticky;
  background-color: #e9ecef;
}

.Container > tbody {
  flex: 1;
  display: block;
  min-height: 0;
  margin: auto 0;
  max-height: 100%;
  overflow: auto;
}
